<p>Here is a list of all users</p>
<% @users.each do |user| %>
    <div>
    <img src= "<%= user.photo %>" />
    </div>
    <div>
    <%= link_to user_path(user.id) do %>
    <p><%= user.name %></p>
    <% end %>
    <p>Number of Posts: <%= user.posts_counter %></p>
    </div>
<% end %>