<h1>All users</h1>
<% @users.each do |user| %>
    <div class="user">
    <img src= "<%= user.photo %>" />
    <div class="name">
    <%= link_to user_path(user.id) do %>
    <p><%= user.name %></p>
    <% end %>
    <p class="count">Number of Posts: <%= user.posts_counter %></p>
    </div>
    </div>
<% end %>