<h2>Here is a list of posts for a given user</h2>
    <% @posts.each do |post| %>
            <div>
            <p><%= link_to post.text posts_path %></p>
            </div>
    <% end %>
            <p><%= link_to 'Back to Users' users_path %></p> 
