* {
  margin: 0;
  padding: 0;
}

main {
  padding: 1% 5%;
}

.post,
.user {
  display: grid;
  grid-template-columns: 0.2fr 1.4fr;
  margin-bottom: 2%;
  gap: 20px;
}

.post img,
.user img {
  width: 100px;
  height: 100px;
}

.post-text,
.newpost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-post {
  margin-bottom: 10px;
}

.name,
.user-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-com,
.count {
  display: flex;
  align-self: flex-end;
}

h1 {
  display: flex;
  justify-content: center;
}
